<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    {% endblock %}

    <title>
        {% if title %}{{ title }} - COC Analyse Tool{% else %}Welcome to the COC Analyse Tool für Clans{% endif %}
    </title>
    {% endblock %}
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark mb-2">
            <a class="navbar-brand" href="{{url_for('member.index')}}">COC Analyse Tool</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('member.index')}}">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('wars.wars')}}">Wars</a>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('auth.login')}}">Login <span
                                class="sr-only">(Login)</span></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}


        <!-- Your page content -->
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}
    <!-- Optional JavaScript -->

    {{ bootstrap.load_js() }}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#member_table').DataTable({
                "order": [[1, "desc"]]
            });
        });
    </script>
    {% endblock %}

</body>

</html>