{% extends "base.html" %}

{% block content %}

<ul class="list-group">
    {% for season in cwl %}
    <a class="list-group-item list-group-item-action list-group-item-secondary war-summery"
        href="{{url_for('wars.clan_war', cwl_id=season.id)}}">
        <div class="row justify-content-md-center">
            <h2 class="col text-center" style="margin-bottom: 0;">{{season.tag}}</h2>
        </div>
        <div class="row justify-content-md-center">
            <h2 class="col text-center" style="margin-bottom: 0;"><small>Season: {{season.season}}</small></h2>
        </div>
    </a>
    {% endfor %}
</ul>
{% endblock %}