{% extends "base.html" %}

{% block content %}
<div class="bg-light">
    <div class="row justify-content-md-center">
        <h2 class="col col-lg-2" style="margin-bottom: 0;">Sackratten</h2>
        <h2 class="col col-lg-2" style="margin-bottom: 0;">#12345</h2>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2 text-right">
            <h2 style="margin-top:0">
                <small style="font-size: 60%;">0.00%</small>
                <span style=" color:#444">
                    <i class="far fa-star"></i>
                    0
                </span>
            </h2>
        </div>
        <div class="col col-lg-2">
            <h2 style="margin-top:0">
                <span style="color:#444">
                    0
                    <i class="far fa-star"></i>
                </span>
                <small style="font-size: 60%;">0.00%</small>
            </h2>
        </div>
    </div>
</div>
{% endblock %}