{% extends "base.html" %}

{% block content %}

{% for war in wars %}
<ul class="list-group">

    {% if war.victory == None %}
    <a class="list-group-item list-group-item-action list-group-item-primary war-summery"
        href="{{ url_for('wars.war', war_id=war.id) }}">
        {% elif war.victory == True %}
        <a class="list-group-item list-group-item-action list-group-item-success war-summery"
            href="{{ url_for('wars.war', war_id=war.id) }}">
            {% else %}
            <a class="list-group-item list-group-item-action list-group-item-danger war-summery"
                href="{{ url_for('wars.war', war_id=war.id) }}">
                {% endif %}
                <div class="row justify-content-md-center">
                    <h2 class="col-6 text-right" style="margin-bottom: 0;">Sackratten</h2>
                    <h2 class="col-6" style="margin-bottom: 0;">{{ war.enemy }}</h2>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-6 text-right">
                        <h2 style="margin-top:0">
                            <small><span style=" color:#444">
                                    <i class="far fa-star"></i>
                                    23
                                </span></small>
                        </h2>
                    </div>
                    <div class="col-6">
                        <h2 style="margin-top:0">
                            <small><span style=" color:#444">
                                    23
                                    <i class="far fa-star"></i>
                                </span></small>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-left">
                        <small>{{ war.start_time }}</small>
                    </div>
                    <div class="col-6 text-center">
                        <small>Krieg</small>
                    </div>
                    <div class="col-3 text-right">
                        <small>{{ war.size }} vs {{ war.size }}</small>
                    </div>
                </div>
            </a>
            {% endfor %}
</ul>

{% endblock %}